# Dependency directories
node_modules/
npm-debug.log*

# Next.js build output and cache
.next/
out/
build/
dist/

# Environment variables & Secrets
.env
.env.*
!.env.example
.env.local

# Git and Docker configuration
.git/
.gitignore
Dockerfile*
.dockerignore