# Dependency directories
node_modules/
npm-debug.log*

# Vite / Svelte build output & caches
dist/
build/
.vite/
.svelte-kit/

# Environment variables & Secrets
.env
.env.*
!.env.example
.env.local

# Git and Docker configuration
.git/
.gitignore
Dockerfile*
.dockerignore